body{
  display: flex;
  color: white;
  font-family: Geneva, Verdana, sans-serif;
}

.left-section,.right-section{
  display: flex;
  width: 25vw;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #C41E3D;
}

.center-section{
  display: flex;
  width: 50vw;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #7D1128;
}

header{
  display: flex;
  width: 50vw;
  height: 25vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main{
  display: flex;
  width: 50vw;
  height: 75vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
}

.classic-section,.hardcore-section{
  display: flex;
  width: 25vw;
  height: 25vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #5A0C1C;
}

.classic-section-hide, .hardcore-section-hide,
.classic-game-section-hidden, .classic-choice-hidden,
.fight-game-section-hidden{
  display: none;
}

.classic-game-section{
  display: flex;
  width: 35vw;
  height: 50vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.classic-choice{
  margin-top:-100px;
  width: 35vw;
  display: flex;
  justify-content: space-evenly;
}

.hardcore-game-section{
  display: flex;
  width: 35vw;
  height: 60vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hardcore-choice{
  margin-top:-300px;
  width: 35vw;
  display: flex;
  flex-direction: column;
}

div{
  justify-content: space-evenly;
  display: flex;
}

.rock-image, .paper-image, .scissors-image,
.lizard-image, .alien-image, .fighter1-image, .fighter2-image{
  width: 200px;
  height: 200px;
  cursor: pointer;
}

.human-header, .computer-header, .change-game-bttn{
  margin-top: 5vh;
}

.change-game-bttn{
  border: none;
  font-family: Geneva, Verdana, sans-serif;
  width: 180px;
  height: 60px;
  font-size: 20px;
  border-radius: 5px;
  background-color: #7C90A0;
  color: white;
}

h1{
  font-size: 50px;
  margin-bottom: 1px;
}

h2{
  font-size: 40px;
  margin-bottom: 1px;
}

p, h3{
  margin-top:2px;
  font-size: 25px;
}

/* copy paste another for hardcore guitar */
.classic-guitar2{
  padding-left: 75px;
  padding-right: 75px;
}
