body{
  display: flex;
}

.left-section,.right-section{
  display: flex;
  border-style: dashed;
  width: 25vw;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

main{
  display: flex;
  flex-direction: column;
  align-items: center;
  border-style: dashed;
  width: 50vw;
  height: 100vh;
}

header{
  display: flex;
  width: 50vw;
  height: 25vh;
  border-style: dashed;
  flex-direction: column;
  align-items: center;
}

.play-section{
  display: flex;
  border-style: dashed;
  border-color: blue;
  width: 50vw;
  height: 75vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.classic-section,.difficult-section{
  display: flex;
  border-style: dashed;
  border-color: blue;
  width: 25vw;
  height: 25vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

}
